html,
body,
div,
spa applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6em;
    min-height: 100%;
}

/* Navigation Styling */

.sitenav {
    height: 5.000em;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 3.125em;
    box-shadow: 0px 4px 15px #ddd;

}

.sitenav nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;

}

.sitenav nav .sitetag {
    position: relative;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 0 0.278em;
    font-weight: bold;
    line-height: 4.444em;
    margin-right: 1.111em;
}

.sitenav nav .sitetag a:hover {
    color: #FF5252;
    transition: all .3s ease;
}

.sitenav nav .sitetag a {
    text-decoration: none;
    color: #000000;
    padding: 0em 0.625em;
    margin: 0.125em;
}

.sitenav nav .active a {
    color: #FF5252;

}

.sitenav nav ul li a {
    font-family: "Roboto Slab";
    font-weight: 400;
}


.sitenav .logo img {
    float: left;
    display: block;
    margin-top: 0.313em;
    margin-left: 3em;
    width: 70px;
    height: 70px;
}

.sitenav .name {
    float: left;
    padding: 0.526em;
    display: inline-block;
    text-align: center;
    font-size: 38px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
}

/* Button Navigation Styling */

.overlay {
    display: none;
}

/* Button Navigation Styling */

/* Navigation Styling */

/* Overlay Text */

.overlay-text {
    background-size: cover;
    padding: 10% 15%;
    top: 15em;
    background-image: url(images/banner-editted2.0.jpg);
    background-repeat: no-repeat;
    font-size: 21px;
    text-align: center;
    color: white;
    z-index: 1;
    line-height: 30px;
    overflow: hidden;

}

.overlay-text h1 {
    font-family: "Roboto Slab",
    sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}

.overlay-text h2,
.overlay-text h3,
.overlay-text h4 {
    margin-bottom: 20px;
}

.overlay-text h2,
.overlay-text h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.overlay-text h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.overlay-text h4 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    color: #BCD2EE;
}

.content {
    padding: 0 8%;
}

/* Overlay Text */

/* Main Text */

.main-text {
    padding: 2% 5%;
    padding-top: 17px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-size: cover;
    margin: 0 10%;
    font-size: 16px;

}

.main-text-header {
    background-size: cover;
    padding: 30px 5% 17px 5%;
    margin: 0 10%;

}


.main-text-header h1 {
    font-family: "Roboto Slab", cursive;
    font-size: 37px;
    font-weight: 700;
    margin-top: 60px;
}


.main-text p {
    display: block;
    float: left;
    letter-spacing: .5px;
    line-height: 1.4em;
    color: rgba(28, 28, 28, 0.9);
    margin-bottom: 16px;

}

.floatleft {
    float: left;
    width: 60%;
}

.faceimg img {
    float: right;
    width: 30%;

}



/* Main Text */

/* Page 2 */

#page {
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1080px;
    padding: 0 34px;
    padding-bottom: 2%;

}

.p2_top {
    margin: 1.5em auto .3em;

}

.p2_top h1 {
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #1c1c1c
}

.p2_top h2 {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #1c1c1c;
    margin-bottom: 30px;
}


/* Page 2 */

/* imagespage2 */

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}


.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 auto 40px;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
}

.rslides img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
    overflow: hidden;
}


.rslides .caption {
    display: block;
    position: absolute;
    z-index: 2;
    text-shadow: none;
    color: #BCD2EE;
    background: #000;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    font-size: 17px;
    font-family: "Quicksand", sans-serif;

}

.rslides_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 53%;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("themes/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.rslides_nav:active {
    opacity: 1.0;
}

.rslides_nav.next {
    right: 0;
    background-position: right top;

}

.rslider_btmtxt,
.rslider_btmbtmtxt {
    margin: 0 14%;
}

.rslider_btmtxt {
    margin-bottom: 30px;
}

.rslider_btmtxt h3 {
    font-size: 22px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 34px;
}


.rslider_btmtxt h1,
.rslider_btmbtmtxt h1 {
    letter-spacing: .5px;
    line-height: 1.4em;
    color: rgba(28, 28, 28, 0.9);
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.rslider_btmtxt ul {
    list-style-type: disc;
    padding-left: 30px;
    float: left;
}

.rslider_btmbtmtxt ul {
    list-style-type: disc;
    padding-left: 30px;

}

.rslider_btmtxt ul li,
.rslider_btmbtmtxt ul li {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    line-height: 1.4em;
    margin-bottom: 10px;
    font-weight: 400;
}

.drawing {
    width: 30%;
    margin-right: 30px;
    float: right;
}



/* imagespage2 */

/* Page 2 */

/* Page 3 */

#page3 {
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 980px;
    padding: 0 34px;
    padding-bottom: 2%;

}

.pg3-text {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    letter-spacing: .5px;
    line-height: 1.4em;
    color: rgba(28, 28, 28, 0.9);
    font-weight: 500;
    margin-top: 3.125em;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 0.1875em;
    padding: 3em 0;
}

.pg3-text .title,
.pg3-text .title2 {
    display: block;
}

.pg3-text .title p {
    font-size: 22px;
    font-family: "Quicksand", serif;
    font-weight: 700;
    margin-bottom: 2.5em;
}

.education-text .title2 p {
    font-size: 22px;
    font-family: "Quicksand", serif;
    font-weight: 700;
    margin-bottom: 1em;
}

.pg3-text img {
    width: 3.125em;
    height: 3.125em;
}

.pg3-text figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.column {
    float: left;
    width: 33.3333%;
}

.three-icon-column {
    padding-bottom: 10em;
}

.three-icon-column-a {
    padding-bottom: 0;
}

.education-text {
    text-align: center;
    padding: 3.125em 0;
}


.year {
    color: #FF5252;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    margin-bottom: 0.625em;
    margin-top: 1.5625em;
    font-size: 18px;
}

.pg3-btm-text {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    letter-spacing: .5px;
    line-height: 1.4em;
    color: rgba(28, 28, 28, 0.9);
    font-weight: 500;
}

.column-a {
    float: left;
    width: 33%;
}


/* Page 3 */

/* Page 4 */

.form-basic {
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;

    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.4em;
}

.form-basic .form-div {
    text-align: left;
    margin-bottom: 22px;
}

.form-basic .form-title {
    text-align: center;
    margin-bottom: 55px;
}

.form-basic h1 {
    display: inline-block;
    box-sizing: border-box;
    color: #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #FF5252;
    margin: 0;
}

.form-basic .form-div > label span {
    display: inline-block;
    box-sizing: border-box;
    color: #000000;
    width: 180px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
}

.form-basic input {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
}

.form-basic input[type=radio],
.form-basic input[type=checkbox] {
    box-shadow: none;
    width: auto;
}

.form-basic input[type=checkbox] {
    margin-top: 13px;
}

.form-basic select {
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-basic textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.form-basic .form-radio-buttons,
.form-basic .form-checkbox-buttons {
    display: inline-block;
    vertical-align: top;
}

.form-basic .form-radio-buttons > div,
.form-basic .form-checkbox-buttons > div {
    margin-top: 10px;
}

.form-basic .form-radio-buttons label span,
.form-basic .form-checkbox-buttons label span {
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
}

.form-basic .form-radio-buttons input,
.form-basic .form-checkbox-buttons input {
    width: auto;
}

.form-basic button {
    display: block;
    border-radius: 2px;
    background-color: #BCD2EE;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
}



/* Page 4 */

/* Footer */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    background-color: #000000;

}

footer h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    color: #ffffff;
    float: left;
    padding-top: 10px;
}

footer a {
    float: right;
}

footer a img {
    width: 35px;
}

/* Footer */

/* Clear Fix */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

/* Clear Fix */

/* Media Query */

@media only screen and (max-width:1100px) {
    .sitenav .logo img {
        display: none;
    }

    .sitenav .name {
        padding: 0.526em 0 0.526em 5%;
    }

    .main-text,
    .main-text-header {
        margin: 0 5%;
    }
}

@media only screen and (max-width:980px) {
    .sitenav .name {
        float: none;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 1;
    }
    .sitenav nav {
        display: none;
    }
    /* Button Container */
    .button_container {
        position: fixed;
        top: 4%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: opacity .25s ease;
        transition: opacity .25s ease;
    }
    .button_container:hover {
        opacity: .7;
    }
    .button_container.active .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF;
    }
    .button_container.active .middle {
        opacity: 0;
        background: #FFF;
    }
    .button_container.active .bottom {
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF;
    }
    .button_container span {
        background: #FF5252;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
        cursor: pointer;
    }
    .button_container span:nth-of-type(2) {
        top: 11px;
    }
    .button_container span:nth-of-type(3) {
        top: 22px;
    }
    /* Button Container */
    /* Overlay Container */
    .overlay {
        display: inline;
        position: fixed;
        background: #FF5252;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .35s, visibility .35s, height .35s;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        z-index: 5;
    }
    .overlay.open {
        opacity: .9;
        visibility: visible;
        height: 100%;
    }
    .overlay.open li {
        -webkit-animation: fadeInRight .5s ease forwards;
        animation: fadeInRight .5s ease forwards;
        -webkit-animation-delay: .35s;
        animation-delay: .35s;
    }
    .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }
    .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s;
    }
    .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s;
    }
    .overlay nav {
        position: relative;
        height: 70%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        text-align: center;
    }
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
    }
    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
    }
    .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden;
    }
    .overlay ul li a:hover:after,
    .overlay ul li a:focus:after,
    .overlay ul li a:active:after {
        width: 100%;
    }
    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        -webkit-transition: .35s;
        transition: .35s;
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }

    /* Overlay Container */
    .overlay-text {
        background-image: url(images/bannermobile.png);
    }

    .sitenav .logo img {
        display: block;
        position: absolute;
        margin-left: 5%;
    }
}

@media only screen and (max-width:800px) {}



@media only screen and (max-width:630px) {
    .overlay-text {
        text-align: left;
        padding: 10% 10%;
    }
}

@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%;
    }
    .floatleft {
        float: none;
        width: 100%;
    }
    .faceimg img {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        display: none;
    }
}



@media screen and (max-width: 970px) {
    .rslider_btmtxt,
    .rslider_btmbtmtxt {
        margin: 0 8%;
        margin-bottom: 30px;

    }
}

@media screen and (max-width:800px) {
    .rslider_btmtxt,
    .rslider_btmbtmtxt {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .column,
    .column-a {
        width: 50%;
    }

    .html {
        position: relative;
        bottom: 28px;
    }

    .js {
        position: relative;
        top: 19px;
    }

    .alter {
        padding: 0 5%;
        float: none;
        width: 100%;
    }


}

@media screen and (max-width:500px) {
    .drawing {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding-top: 5px;

    }
}

@media (max-width: 600px) {

    .form-basic {
        padding: 30px;
        max-width: 480px;
    }

    .form-basic .form-div {
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-basic .form-title {
        margin-bottom: 50px;
    }

    .form-basic .form-div > label span {
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-basic select {
        width: 240px;
    }

    .form-basic input[type=checkbox] {
        margin-top: 0;
    }

    .form-basic .form-radio-buttons > div {
        margin: 0 0 10px;
    }

    .form-basic button {
        margin: 0;
    }

    #form-alter {
        padding: 0 0 5px;
    }

}

/* Media Query */
