/*
         CA1 Project Style Sheet
         Filename: styles.css

         Author:Dwayne Yoong Tze Yang P1727922   
         Date:13/11/2017     
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-image: url("images/background.png")
}

/* siteNav */

.sitenav {
    height: 5.000em;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 3.125em;
    box-shadow: 0px 4px 15px #ddd;
}

.sitenav nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;

}

.sitenav nav .sitetag {
    position: relative;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 0 0.278em;
    font-weight: bold;
    line-height: 4.444em;
    margin-right: 1.111em;
}

.sitenav nav .sitetag a:hover {
    color: #a52a2a;
    transition: all .3s ease;

}

.sitenav nav .sitetag a {
    text-decoration: none;
    color: #000000;
    padding: 0em 0.625em;
    margin: 0.125em;

}

.sitenav .logo img {
    float: left;
    display: inline-block;
    margin-top: 0.313em;
    margin-left: 5%;
    width: 70px;
    height: 70px;
}

.sitenav .name {
    float: left;
    padding: 0.526em;
    display: inline-block;
    text-align: center;
    font-size: 38px;
    font-family: "Lobster";
    font-weight: normal;
}

/* Main Body */

body {
    background-color: #f5f5f5;
    margin: 0 auto;
    font-family: "Raleway";
    min-width: 67.500em;
    font-size: 16px;
    min-height: 100%;
    font-weight: 600;

}


body .top {
    font-size: 16px;
    text-align: center;
    max-width: 55%;
    min-width: 67.500em;
    margin: 0 auto;
    padding: 3.125em;
}

body .top h1 {
    font-size: 48px;
    line-height: 1em;
    font-family: "Spectral SC";
    font-weight: bold;
}


hr {
    display: block;
    height: 0.063em;
    border: 0;
    border-top: 0.313em solid black;
    margin-top: 0.313em;
    padding: 0;
}


body .top h2,
body .top2 h2,
body .top3 h2 {
    font-size: 22px;
    margin-bottom: 1.591em;
    font-family: "Spectral SC";
    font-weight: 500;
    color: #a52a2a;
}

body .top img {
    float: left;
    width: 30%;
    max-width: 22.500em;
    display: block;
    box-shadow: 0px 4px 15px #CECECE;
    margin-right: 2.250em;
}


body .top .main {
    text-align: left;
    width: 65%;
    float: right;
}


body .top .main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1em;
}

body .top .main .quote {
    color: #696969;
}



/* 2nd page Container */

.top2 {
    font-size: 16px;
    text-align: center;
    max-width: 55%;
    min-width: 67.500em;
    margin: 0 auto;
    padding: 3.125em;
    padding-bottom: 1em;
}


.top2 h1,
.top3 h1 {
    font-size: 48px;
    line-height: 1em;
    font-family: "Spectral SC";
    font-weight: bold;
}


/* Page 3 */

.top3 {
    font-size: 16px;
    text-align: center;
    max-width: 55%;
    min-width: 67.500em;
    margin: 0 auto;
    padding: 3.125em;
    padding-bottom: 0em;
}

body .main3,
body .main3 p {
    font-size: 16px;
    max-width: 55%;
    min-width: 67.500em;
    text-align: center;
    margin: 0 auto;
}

body .main3 {
    padding: 0em 1em;
}

body .main3 p {
    padding-bottom: 2em;
}

body .main3 a {
    font-family: "Spectral SC";
}

body .nav3 {
    text-align: center;
    font-size: 16px;
    font-family: "Spectral SC";
    margin: 0 auto;
    max-width: 55%;
    min-width: 67.500em;
    border-top: 0px;
    padding: 0 1em;
    font-weight: bold;
    line-height: 3em;
    list-style: none;
}

body .nav3 a {
    text-decoration: none;
    color: #800000;
    font-size: 18px;
    padding: 0 1em;
}

body .nav3 a:hover {
    border: 0.125em grey solid;
    margin: 0px;
}

body .nav3 a:visited {
    text-decoration: none;
}

body .main3 .pri {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body .main3 .sec {
    border-bottom: 1px solid black;
}

body .main3 img {
    padding: 1em 0;
}

body .main3 .pri img {
    float: left;
}

body. main3 .pri .priTxt {
    float: right;
}

body .main3 .sec img {
    float: right;
}


body .main3 .cur img {
    float: left;
}


/* colored txt */

#primary,
#secondary,
#current {
    color: #800000;
}

.colored-txt2 {
    color: #008080;
}

.colored-txt1 {
    color: #008000;
}

/* footer */

footer {
    background-color: #000;
    position: relative;
    clear: both;
    z-index: 10;
    padding: 42px;


}

footer p {
    color: #FFF;
    font-family: "Spectral SC";

}

.footerleft p {
    float: left;
    padding-left: 200px;
    position: relative;
    display: inline-block;
}

.footerleft .year {
    color: #C0C0C0;
    font-family: "Raleway";
}

.footerright {
    float: right;
    padding-right: 200px;
}

.footerright img {
    position: relative;
    display: inline-block;
    width: 35px;
}


/* Page 2 Display */

.display-wrap {
    overflow: hidden;
    width: 55%;
    margin: 20px auto;
    min-width: 67.500em;

}

.display-content {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.display-content img {
    width: 100%
}


.display-content h1 {
    position: absolute;
    background-color: white;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-family: "Raleway";
    font-weight: 700;
    transition: all .8s ease-in-out;
    font-size: 30px;
    background-color: rgba(52, 152, 219, 0.9);
    color: #FBFBFF;
}

.display-content:hover h1 {
    transform: translateY(-100%);
}

.display-content:hover .description {
    transform: translateY(0%);
}

.display-content .description {
    position: absolute;
    bottom: 0;
    background-color: white;
    transition: all .8s ease-in-out;
    transform: translateY(100%);
    padding: 30px;
    background-color: rgba(28, 29, 30, 0.8);
}

.display-content .description p {
    line-height: 1.5;
    font-family: "Raleway";
    font-weight: 600;
    color: #FBFBFF;

}

/*Go back to top Page 2 */

.go-top {
    position: fixed;
    top: 50%;
    left: 95%;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}


/*ClearFix*/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}
